@font-face{
  font-family:'digital-clock-font';
  src: url('fonts/digital-7.ttf');
 }

body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  cursor: none;
}

#root {
  background: #111;
  height: 100%;
  width: 100%;
}

#app {
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%
}

text {
  fill: white;
  font-family: digital-clock-font;
  transform-box: fill-box;
  transform-origin: center;
}
